/*全局*/
html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
    /*禁止缩小屏幕后, 换行*/
    min-width: 1366px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

/*面包屑*/
.el-breadcrumb {
    font-size: 12px;

}

.el-card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}
